body {
    background-color: lightblue;
}

#header {
	max-width: 275px;
	margin-top: 20px;
	margin-left: 35%;
	text-align: center;
	font-family: Arial, sans-serif;
	color: cyan;
	position: static;
    border: 3px solid #73AD21;
    border-radius: 5px;
}

.div {
	max-width: 300px;
	position: left;
	margin-left: 5%;
	font-family: Verdana, sans-serif;
	padding: 15px;
	text-align: left;
	border-radius: 5px;
}

#divVisual {
	margin-left: 50%;
	margin-top: 150px;
	max-width: 275px;
	position: static;
    border: 3px solid #73AD21;
    border-radius: 5px;
    text-align: center;
}
